.not-Found {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mi-Alert {
    position: fixed;
    background: #0b2e13;
    bottom: 80%;
    right: 100%
}

